:root {
    --light-grey: #f5f6f7;
    --dark-blue: #0a0a23;
    --fcc-blue: #1b1b32;
    --light-yellow: #fecc4c;
    --dark-yellow: #feac32;
    --light-pink: #ffadad;
    --dark-red: #850000;
    --light-green: #acd157;
  }
  
  body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: var(--fcc-blue);
    color: var(--light-grey);
  }
  

  .header {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    justify-content: center; /* Center the whole container */
    padding: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

.header img {
  width: 60px; /* Adjust icon size */
  height: auto;
  margin-right: 10px; /* Space between icon and text */
}

.header h1 {
  font-size: 32px;
  font-weight: bold;
  color: white; /* Change color as needed */
  padding: 0%;
  margin: 0%;
}

  .container {
    width: 90%;
    max-width: 680px;
    padding-top: 4.5rem;
  }
  
  h1,
  .container,
  .output {
    margin: 20px auto;
  }
  
  label,
  legend {
    font-weight: bold;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  button {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--light-yellow);
    border: 2px solid var(--dark-yellow);
  }
  
  button,
  input,
  select {
    min-height: 24px;
    color: var(--dark-blue);
  }
  
  fieldset,
  label,
  button,
  input,
  select {
    margin-bottom: 10px;
  }
  
  .output {
    border: 2px solid var(--light-grey);
    padding: 10px;
    text-align: center;
  }
  
  .hide {
    display: none;
  }
  
  .output span {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .surplus {
    color: var(--light-pink);
  }
  
  .deficit {
    color: var(--light-green);
  }